.Container .category{
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    flex-wrap: wrap;
    margin: auto;
    height: auto;
}
.Container .title{
    background-color: #ffc008;
    padding: 10px;
}
