.App {
  text-align: center;
  background-image: url("../src/Components/assets/restaurant-mural-wallpaper_23-2148695092.avif");
  background-position: center;
  background-repeat:repeat;
  backface-visibility:initial;
}


  
