.main{
    background-image:url("./../assets/flat-lay-local-food-meal-assortment-with-copy-space.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.main .intro{
    min-height: 500px;
    display: flex;
    align-items: start;
    padding: 50px;
   
}
.main .intro .text{
    max-width: 450px;
    width: 450px;
    margin-left:60%;
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main .intro .text .happyMeal{
   color: var(--mainText);

}
.bounce-out-top{
	-webkit-animation: bounce-out-top 2s infinite both;
	        animation: bounce-out-top 2s infinite both;
}
@-webkit-keyframes bounce-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    50% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
      opacity: 1;
    }
    100%{
        -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
   
    50% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
      opacity: 0;
    }
    100%{
        -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
.main .intro .text p{
    display: block;
    color: var(--mainText);
}
@media (max-width :450px ){
    .main .intro .text p{
        display: none;
    }
    .main .intro .text{
       display: flex;
       align-items: center;
       margin: auto;
       gap: 20px;
    }

}
